@{
    ViewBag.Title = "Nguyễn Văn Thạo";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài ôn tập Lesson12 của Nguyễn Văn Thạo</h3>

<address>
    K22CNT1 - Môn lập trình web với công nghệ ASP.Net MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nguyenvanthao170524@gmail.com">nguyenvanthao170524@gmail.com</a><br />
    <strong>Cá Nhân:</strong> <a href="mailto:VanThao@example.com">VanThao@example.com</a>
</address>